@import "~antd/dist/antd.css";

.App {
  
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 20px;
  border-style: solid black;
  border-width: 3px;
  grid-column-start: 4;
  grid-column-end: 10;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.uploadBtn {
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  margin: 10px;
  width: auto;
}

.buttons {
  margin-left: 150px;
  margin-top: 30px;
}

.upload {
  margin-left: 17px;
  
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}